name: CI

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php-versions: [ '8.0','8.1','8.2','8.3', '8.4' ]
        dependency-versions: [ "lowest","highest" ]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Install composer dependencies
        uses: ramsey/composer-install@v2
        with:
          dependency-versions: ${{ matrix.dependency-versions }}
      - name: Run phpunit
        run: ./vendor/bin/phpunit
  test_success:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Release new package on private Satis/Composer
        run: wget https://packages.sddns.nl/admin/satis/buildRun
